body {
  font-family: "Minion Pro", serif;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'Minion Pro';
  font-display: swap;
  src: url('../fonts/MinionPro-Regular.eot');
  src: url('../fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/MinionPro-Regular.woff') format('woff'), url('../fonts/MinionPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.page-header {
  background-color: white;
  padding: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-family: 'Myriad Pro', Arial;
}
.page-header__burger-button {
  display: none;
}
body {
  transition: 0.4s;
}
.page-header ul {
  padding: 0;
  margin: 0;
}
.page-header li {
  list-style-type: none;
  padding: 15px;
}
.page-header a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7580b2;
  display: inline-block;
  padding: 10px 0;
}
.page-header__address {
  color: #7580b2;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  line-height: 22px;
}
@media screen and (max-width: 929px) {
  .page-header__wrap-list {
    position: absolute;
    top: 0;
    left: -180px;
    height: 100%;
    width: 180px;
    background-color: white;
    box-shadow: inset -1px -2px 5px 0px grey;
  }
  .page-header li {
    border-bottom: 1px solid lightgrey;
  }
  .page-header__burger-button {
    display: block;
  }
}
.page-header__telephone {
  font-family: 'Myriad Pro', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  position: relative;
}
.page-header__telephone::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('../img/sprite.png');
  background-position: -65px 0px;
  background-size: 81px;
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
}
@media screen and (min-width: 930px) {
  .page-header {
    margin: 0 auto;
    max-width: 1443px;
    padding: 10px 5%;
  }
  .page-header ul {
    display: -ms-flexbox;
    display: flex;
  }
  .page-header li {
    padding: 0;
    padding-top: 5px;
    padding-right: 20px;
  }
  .page-header li:hover a {
    color: #fcaf1b;
  }
}
.burger-button {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}
.burger-button__stick,
.burger-button__stick::before,
.burger-button__stick::after {
  width: 26px;
  height: 3px;
  background: #fcaf1b;
  position: absolute;
  left: 50%;
  margin-left: -13px;
  top: 50%;
  margin-top: -1.5px;
  border-radius: 3px;
  transition: 0.4s;
  transform-origin: center;
  content: '';
}
.burger-button__stick::before {
  transform: translateY(-8px);
}
.burger-button__stick::after {
  transform: translateY(8px);
}
.burger-button__active .burger-button__stick {
  transform: rotate(45deg);
}
.burger-button__active .burger-button__stick::before,
.burger-button__active .burger-button__stick::after {
  transform: rotate(90deg);
}
.emersion-button {
  box-sizing: border-box;
  background: none;
  border: none;
  transform-origin: right;
  transform: rotate(90deg);
  padding: 25px;
  cursor: pointer;
  outline: none;
  z-index: 11;
}
.emersion-button::before,
.emersion-button::after {
  content: '';
  display: block;
  background-color: white;
  opacity: 0.5;
  height: 2px;
  width: 30px;
  position: absolute;
  transform-origin: left center;
  right: 7px;
  top: 23px;
  transition: 0.5s;
}
.emersion-button::before {
  transform: rotate(45deg);
}
.emersion-button::after {
  transform: rotate(-45deg);
}
.emersion-button--active::before {
  transform: rotate(135deg);
  right: -10px;
}
.emersion-button--active::after {
  transform: rotate(-135deg);
  right: -10px;
}
.emersion-button--header {
  padding: 20px;
}
.emersion-button--header::before,
.emersion-button--header::after {
  background-color: #7580b2;
  width: 20px;
  right: 7px;
  top: 19px;
}
.page-promo--mobile {
  padding: 10px;
  padding-bottom: 20px;
  width: 100%;
  background-image: url('../img/main-slider-2.jpg');
  background-size: cover;
  background-position: 35%;
  box-sizing: border-box;
}
.page-promo__wrap {
  margin: 0 auto;
  max-width: 1100px;
}
.page-promo__logo {
  font-family: 'Myriad Pro', Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin: 0;
  display: block;
}
.page-promo__logo span {
  font-family: 'Myriad Pro', Arial;
  color: #fcaf1b;
  font-size: 35px;
  line-height: 40px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.page-promo__logo small {
  font-size: 15px;
  font-weight: normal;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.page-promo__header-item {
  display: block;
  max-width: 300px;
  font-family: serif;
  color: #fcaf1b;
  margin-top: 70px;
  font-size: 35px;
  font-weight: 100;
}
.page-promo__promo-text {
  display: block;
  font-family: serif;
  font-size: 16px;
  color: white;
  line-height: 40px;
  letter-spacing: 0.8px;
}
.page-promo-desktop {
  display: none;
}
@media screen and (min-width: 930px) {
  .page-promo--mobile {
    display: none;
  }
  .page-promo-desktop {
    display: block;
  }
}
.slider {
  position: relative;
  width: 100%;
  transition: 0.5s;
  height: calc(100vh - 64px);
  min-height: 550px;
  background-repeat: no-repeat;
}
.input-hidden {
  display: none;
}
.slider__logo {
  font-family: 'Myriad Pro', Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.slider__logo b {
  font-family: 'Eras Bold ITC', Arial, sans-serif;
  color: #fcaf1b;
  font-size: 35px;
  line-height: 40px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.slider__logo small {
  font-size: 15px;
  font-weight: normal;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.slider__logo small::before {
  content: '';
  display: inline-block;
  position: relative;
  margin: 0 15px;
  top: 13px;
  height: 37px;
  width: 2px;
  background-color: white;
  opacity: 0.43;
}
.slider__wrap {
  position: absolute;
  top: 7%;
  box-sizing: border-box;
  width: 90%;
  max-width: 1443px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  left: 50%;
  transform: translate(-50%);
}
.slider__item {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  position: relative;
  animation: slider 0.5s;
}
.slider__promo-wrap {
  position: absolute;
  box-sizing: border-box;
  width: 90%;
  max-width: 1443px;
  left: 50%;
  transform: translate(-50%);
}
.slider__header-item {
  font-family: serif;
  color: #fcaf1b;
  font-size: 83px;
  line-height: 100px;
  display: inline-block;
  width: 750px;
  font-weight: 100;
  margin-bottom: 0;
  margin-top: 14%;
}
.slider__promo-text {
  display: block;
  font-family: serif;
  font-size: 21px;
  color: white;
  line-height: 40px;
}
.slider__slide-controls {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
}
.slider__button-slide {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #fcaf1b;
  border-radius: 50%;
  margin: 9px;
  cursor: pointer;
}
#slide-1:checked ~ .slider .slider__item--first,
#slide-2:checked ~ .slider .slider__item--second,
#slide-3:checked ~ .slider .slider__item--third {
  display: block;
}
#slide-1:checked ~ .slider {
  background-image: url('../img/main-slider-1.jpg');
}
#slide-2:checked ~ .slider {
  background-image: url('../img/main-slider-2.jpg');
}
#slide-3:checked ~ .slider {
  background-image: url('../img/main-slider-3.jpg');
}
#slide-1:checked ~ .slider label[for="slide-1"],
#slide-2:checked ~ .slider label[for="slide-2"],
#slide-3:checked ~ .slider label[for="slide-3"] {
  background-color: white;
}
.slider::before,
.slider::after {
  content: '';
  visibility: hidden;
}
.slider::before {
  background-image: url('../img/main-slider-2.jpg');
}
.slider::after {
  background-image: url('../img/main-slider-3.jpg');
}
@keyframes slider {
  from {
    opacity: 0;
    left: -50px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
.advantage {
  width: 90%;
  max-width: 1443px;
  margin: 0 auto;
}
.advantage__promo {
  text-align: center;
  font-family: 'Myriad Pro', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #7580b2;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  margin: 60px 0 30px;
}
.advantage__list {
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 30px;
}
.advantage__list-item {
  box-sizing: border-box;
  padding-left: 70px;
  margin-bottom: 50px;
  display: block;
  width: 100%;
  list-style: none;
  font-family: serif;
  font-size: 16px;
  color: #fcaf1b;
  position: relative;
}
.advantage__list-item::before {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 103px;
  left: 0;
}
@media screen and (min-width: 930px) {
  .advantage__promo {
    font-size: 30px;
    margin: 90px 0;
  }
  .advantage__list-item {
    font-size: 32px;
    width: 48%;
  }
}
::-webkit-scrollbar-button {
  background-image: url('');
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: #ecedee;
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #6dc0c8;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #56999f;
}
::-webkit-resizer {
  background-image: url('');
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
::-webkit-scrollbar {
  width: 4px;
}
.container-promo {
  background-image: url('../img/promo-hands.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
}
.container-promo__wrap {
  position: relative;
  height: 100%;
  width: 90%;
  max-width: 1443px;
  margin: 0 auto;
}
.container-promo__text {
  font-family: 'Minion Pro', serif;
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
}
.container-promo__text span {
  color: #fcaf1b;
}
@media screen and (min-width: 930px) {
  .container-promo {
    height: 400px;
  }
  .container-promo__text {
    font-size: 80px;
    padding-right: 30%;
  }
}
.gallery {
  margin-bottom: 60px;
}
.gallery__heeader {
  text-align: center;
  font-family: 'Myriad Pro', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #7580b2;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  margin: 60px 0 30px;
}
.gallery__slider {
  width: 100%;
}
.gallery__photos {
  width: 100%;
  max-width: 1443px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.gallery__main-photo {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.gallery__viewport {
  width: 100%;
}
.gallery__wrap-main-photos {
  display: -ms-flexbox;
  display: flex;
  width: calc(100% * 8);
  position: relative;
  z-index: -2;
  transition: 0.7s;
}
.gallery__wrap-main-photos img {
  width: calc(100% / 8);
  height: 100%;
}
.gallery__prev-photo {
  display: none;
}
.gallery__button {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  opacity: 1;
  transition: 0.2s;
  cursor: pointer;
  box-sizing: border-box;
  padding: 27.8% 15px;
  outline: none;
}
.gallery__button::before,
.gallery__button::after {
  content: '';
  transition: 0.5s;
  display: block;
  width: 20px;
  height: 2px;
  background-color: white;
}
.gallery__button--prev {
  left: 0;
  transform: translateY(-50%);
}
.gallery__button--prev::before {
  transform-origin: -1px top;
  transform: rotate(40deg);
}
.gallery__button--prev::after {
  transform-origin: -1px bottom;
  transform: rotate(-40deg);
}
.gallery__button--next {
  right: 0;
  transform: translateY(-50%);
}
.gallery__button--next::before {
  transform-origin: 18px bottom;
  transform: rotate(40deg);
}
.gallery__button--next::after {
  transform-origin: 18px top;
  transform: rotate(-40deg);
}
.gallery__prev-photo img {
  width: 100%;
  cursor: pointer;
}
@media screen and (min-width: 930px) {
  .gallery__heeader {
    font-size: 30px;
    margin: 90px 0;
  }
  .gallery__main-photo {
    width: 74%;
  }
  .gallery__prev-photo {
    display: block;
    overflow-y: scroll;
    width: 25%;
  }
  .gallery__photos {
    width: 90%;
  }
  .gallery__button {
    opacity: 0;
    padding: 27.8% 30px;
  }
  .gallery__button::before,
  .gallery__button::after {
    width: 40px;
    height: 2px;
  }
  .gallery__button--prev {
    transform: translateX(150px) translateY(-50%);
  }
  .gallery__button--prev::before {
    transform: rotate(10deg);
  }
  .gallery__button--prev::after {
    transform: rotate(-10deg);
  }
  .gallery__button--next {
    transform: translateX(-100px) translateY(-50%);
  }
  .gallery__button--next::before {
    transform-origin: 38px bottom;
    transform: rotate(10deg);
  }
  .gallery__button--next::after {
    transform-origin: 38px top;
    transform: rotate(-10deg);
  }
  .gallery__main-photo:hover .gallery__button {
    transform: translateY(-50%);
    opacity: 0.5;
  }
  .gallery__main-photo:hover .gallery__button::before {
    transform: rotate(40deg);
  }
  .gallery__main-photo:hover .gallery__button::after {
    transform: rotate(-40deg);
  }
}
.question {
  background-image: url('../img/background-question.jpg');
  width: 100%;
  height: 370px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 5px;
  transition: 0.5s;
  color: white;
  overflow: hidden;
}
.question--close {
  height: 80px;
}
.question__wrap {
  width: 90%;
  max-width: 1443px;
  margin: 0 auto;
  position: relative;
}
.question__button-toggle {
  position: absolute;
  top: 28px;
  right: 30px;
}
.question__p {
  font-family: 'Minion Pro', serif;
  font-size: 18px;
  padding-right: 60px;
}
.question__yellow-word {
  color: #fcaf1b;
}
.question__form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 30px;
  transition: 0.4s;
  opacity: 1;
  transform: translateY(0);
}
.question__form--none {
  display: none;
}
.question__form--close {
  opacity: 0;
  transform: translateY(-20px);
}
.question__input-wrap {
  position: relative;
  min-width: 265px;
  -ms-flex-positive: 5;
      flex-grow: 5;
  margin-bottom: 20px;
  margin-right: 20px;
}
.question__input-wrap:first-child {
  min-width: 180px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.question__input-wrap:nth-child(3) {
  width: 100%;
}
.question__form-input {
  height: 40px;
}
.quesrion__form-textarea {
  height: 100px;
  resize: none;
}
.question__form-input,
.quesrion__form-textarea {
  background-color: #dde3fc;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-family: 'Minion Pro', serif;
  font-size: 20px;
  color: #54619e;
  box-sizing: border-box;
}
.question__form-input::-moz-placeholder,
.quesrion__form-textarea::-moz-placeholder {
  font-family: 'Minion Pro', serif;
  font-size: 22px;
  color: #54619e;
  opacity: 0.5;
}
.question__form-input:-ms-input-placeholder,
.quesrion__form-textarea:-ms-input-placeholder {
  font-family: 'Minion Pro', serif;
  font-size: 22px;
  color: #54619e;
  opacity: 0.5;
}
.question__form-input::placeholder,
.quesrion__form-textarea::placeholder {
  font-family: 'Minion Pro', serif;
  font-size: 22px;
  color: #54619e;
  opacity: 0.5;
}
.question__form-input:focus,
.quesrion__form-textarea:focus {
  background-color: white;
}
.question__form-input:focus::-moz-placeholder,
.quesrion__form-textarea:focus::-moz-placeholder {
  opacity: 0;
}
.question__form-input:focus:-ms-input-placeholder,
.quesrion__form-textarea:focus:-ms-input-placeholder {
  opacity: 0;
}
.question__form-input:focus::placeholder,
.quesrion__form-textarea:focus::placeholder {
  opacity: 0;
}
.question__input-wrap--error::before {
  content: 'Заполните поле';
  position: absolute;
  color: red;
  top: -24px;
  font-family: 'Minion Pro', serif;
  font-size: 20px;
  font-weight: bold;
}
.question__input-wrap--error .js-input {
  border: 2px solid red;
}
.question__input-wrap--error-email::before {
  content: 'Некорректный email';
  position: absolute;
  color: red;
  top: -24px;
  font-family: 'Minion Pro', serif;
  font-size: 20px;
  font-weight: bold;
}
.question__input-wrap--error-email .js-input {
  border: 2px solid red;
}
.question__button-submit {
  background-color: #ffb119;
  width: 250px;
  height: 40px;
  border: none;
  margin: 20px 0;
  border-radius: 20px;
  font-size: 22px;
  color: #596497;
  cursor: pointer;
  font-family: 'Minion Pro', serif;
}
.question__wrap-response {
  position: relative;
}
.question__response {
  position: fixed;
  background-color: white;
  color: #7580b2;
  font-size: 22px;
  width: 90%;
  left: 5%;
  bottom: 40%;
  text-align: center;
  z-index: 30;
  display: none;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}
.question__response--active {
  display: block;
  opacity: 0;
  animation: response 2.8s 0.2s;
}
@keyframes response {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 549px) {
  .question {
    height: 420px;
  }
  .question--close {
    height: 80px;
  }
}
@media screen and (min-width: 930px) {
  .question {
    height: 525px;
  }
  .question__p {
    font-size: 28px;
  }
  .question--close {
    height: 114px;
  }
  .question__input-wrap {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .quesrion__form-textarea {
    height: 200px;
    margin: 0;
  }
  .question__response {
    font-size: 30px;
  }
}
@media screen and (max-width: 929px) {
  .question__button-toggle {
    right: 26px;
    top: 18px;
  }
  .question__button-toggle::before,
  .question__button-toggle::after {
    height: 2px;
    width: 25px;
  }
}
.service-and-price {
  width: calc(90% + 30px);
  max-width: calc(1443px + 30px);
  margin: 0 auto 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.service-and-price__heeader {
  text-align: center;
  font-family: 'Myriad Pro', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #7580b2;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  margin: 60px 0 30px;
}
.service-and-price__link {
  -ms-flex-positive: 1;
      flex-grow: 1;
  width: 250px;
  margin: 10px 15px;
}
.service-and-price__button {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  background-color: #7580b2;
  border: none;
  color: white;
  font-family: 'Myriad Pro', Arial, sans-serif;
  font-size: 18px;
  padding: 5px 20px;
  text-align: center;
  cursor: pointer;
}
@media screen and (min-width: 930px) {
  .service-and-price {
    width: calc(90% + 40px);
    max-width: calc(1443px + 60px);
    margin: 0 auto 150px;
  }
  .service-and-price__heeader {
    font-size: 30px;
    margin: 90px 0 70px;
  }
  .service-and-price__link {
    width: 350px;
    margin: 30px;
  }
  .service-and-price__button {
    height: 80px;
    font-size: 22px;
  }
}
.price-list__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('../img/bg-price-list.png');
  z-index: 15;
  display: none;
  transition: 0.5s;
}
.price-list--active .price-list__bg {
  display: block;
  animation: appearance-bg 0.5s;
}
.price-list__wrap {
  position: relative;
  box-sizing: border-box;
  height: calc(100vh - 60px);
  width: 95%;
  max-width: 1443px;
  margin: 30px auto;
  padding-bottom: 20px;
  background-color: white;
  animation: appearance-price-list 0.5s;
  transition: 0.5s;
  overflow: hidden auto;
}
.price-list__close {
  position: fixed;
  top: 30px;
  right: calc(2.5% + 5px);
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 20;
  padding: 0;
  display: none;
}
.price-list__close::before,
.price-list__close::after {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background-color: red;
  transform-origin: 18px center;
  margin: auto;
}
.price-list__close::before {
  transform: rotate(45deg);
}
.price-list__close::after {
  transform: rotate(-45deg);
}
.price-list--active .price-list__close {
  display: block;
}
@keyframes appearance-bg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearance-price-list {
  0% {
    height: 0;
  }
  100% {
    height: calc(100% - 60px);
  }
}
.price-list__header {
  text-align: center;
  font-family: 'Myriad Pro', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #7580b2;
  display: inline-block;
  width: 90%;
  text-transform: uppercase;
  padding: 50px 5% 20px;
  margin: 0;
}
.price-list__table {
  width: 100%;
  border-spacing: 4px;
}
.price-list__table th {
  font-weight: bold;
  background: #ececec;
}
.price-list__table tr:nth-child(2n) {
  background: #b3badd;
}
.price-list__table tr:nth-child(2n+1) {
  background: #dce1f8;
}
.price-list__table th,
.price-list__table td {
  box-sizing: border-box;
  font-size: 14px;
  height: 34px;
  padding: 8px 6px;
  font-family: 'Myriad Pro', Arial, sans-serif;
}
.price-list__table th:nth-child(2),
.price-list__table td:nth-child(2) {
  text-align: center;
}
.price-list__table th:nth-child(3),
.price-list__table td:nth-child(3) {
  text-align: center;
}
@media screen and (min-width: 930px) {
  .price-list__wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  .price-list__header {
    font-size: 24px;
    padding: 60px 0 30px;
  }
  .price-list__table {
    border-spacing: 8px;
  }
  .price-list__table th,
  .price-list__table td {
    font-size: 18px;
    height: 38px;
    padding: 8px 20px;
  }
  .price-list__table th {
    font-size: 20px;
    letter-spacing: 0.8px;
  }
}
.page-footer {
  background-color: #7580b2;
  border-bottom: 40px solid #636fa6;
  color: white;
  padding-top: 30px;
  padding-bottom: 40px;
  font-family: 'Myriad Pro', Arial, sans-serif;
}
.page-footer__wrap {
  width: 90%;
  max-width: 1443px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.page-footer__name-and-copyright {
  position: relative;
  top: -30px;
}
.page-footer_copyraight {
  font-size: 12px;
  font-weight: bold;
}
.page-footer__contacts h2 {
  color: #fcaf1b;
  font-size: 22px;
}
.page-footer__telephone {
  position: relative;
}
.page-footer__telephone::before {
  content: '';
  background-image: url('../img/sprite.png');
  background-position: -95px -23px;
  width: 23px;
  height: 23px;
  position: absolute;
  left: -30px;
  top: 4px;
  transform: scale(0.7);
}
.page-footer__contacts address {
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
}
.page-footer__email {
  font-size: 14px;
  position: relative;
}
.page-footer__email::before {
  content: '';
  background-image: url('../img/sprite.png');
  background-position: 0px -57px;
  width: 29px;
  height: 22px;
  position: absolute;
  left: -35px;
  top: -4px;
  transform: scale(0.7);
}
.page-footer__logo {
  padding-top: 28px;
  font-size: 18px;
  font-weight: bold;
}
.page-footer__logo b {
  color: #fcaf1b;
  font-size: 22px;
}
@media screen and (max-width: 929px) {
  .page-footer__logo {
    font-size: 12px;
  }
  .page-footer__logo b {
    font-size: 14px;
  }
  .page-footer_copyraight {
    font-size: 9px;
  }
  .page-footer__contacts h2 {
    font-size: 14px;
  }
  .page-footer__contacts address {
    font-size: 10px;
  }
  .page-footer__email {
    font-size: 10px;
  }
}
