html {
  scroll-behavior: smooth;
}
body {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 100vh;
  height: 1000px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  box-sizing: border-box;
  padding: 0 50px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.container__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.container__header a {
  color: #000;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 16px;
  font-weight: normal;
}
h6 {
  font-size: 16px;
  font-weight: normal;
  color: #474747;
  margin: 10px 0;
}
p {
  font-size: 16px;
  color: #737373;
}
.general-button {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 1.13;
  text-align: center;
  background-color: #eb3d00;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
}
.general-button:hover {
  background-color: #000;
}
.general-button[disabled] {
  background-color: #c2c2c2;
  cursor: default;
}
a {
  font-size: 16px;
  font-weight: normal;
  color: #eb3d00;
}
blockquote {
  background-color: #ebebeb;
  border-left: 5px solid #eb3d00;
  padding: 30px 40px;
  margin-left: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: #010101;
}
.content ul {
  list-style: none;
  padding-left: 0;
}
.content ul li {
  color: #737373;
  padding-left: 0;
}
.content ul li::before {
  margin-top: 6px;
  margin-right: 20px;
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 8px;
  height: 8px;
  background-color: #eb3d00;
}
ol {
  padding-left: 0;
  counter-reset: count;
  list-style: none;
}
ol li {
  color: #737373;
}
ol li::before {
  content: '';
  display: inline-block;
  min-width: 20px;
  margin-right: 8px;
  counter-increment: count;
  content: counter(count);
  font-weight: bold;
  color: #eb3d00;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table tr {
  border-bottom: 1px solid #c2c2c2;
}
table th,
table td {
  padding-bottom: 15px;
  padding-top: 18px;
  padding-right: 20px;
  text-align: left;
}
table th:last-child,
table td:last-child {
  padding-right: 0;
}
table th {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}
table td {
  font-size: 16px;
  color: #737373;
}
img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}
input {
  font: inherit;
}
@media screen and (max-width: 1300px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 750px) {
  .container {
    padding: 0 5px;
  }
}
.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  box-sizing: border-box;
  margin-left: -20px;
}
.grid li,
.grid article {
  box-sizing: border-box;
  margin-left: 20px;
  margin-bottom: 20px;
  width: calc(25% - 20px);
}
@media screen and (max-width: 1100px) {
  .grid li,
  .grid article {
    width: calc(33% - 20px);
  }
}
@media screen and (max-width: 800px) {
  .grid li,
  .grid article {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 500px) {
  .grid li,
  .grid article {
    width: calc(100% - 20px);
  }
}
.card {
  position: relative;
}
.card.new::before {
  content: 'Новинка';
}
.card.hit::before {
  content: 'хит';
}
.card.new::before,
.card.hit::before {
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 4px 20px;
  border: 1px solid #fff;
  top: 17px;
  left: 17px;
  z-index: 1;
  transition: 0.2s;
}
.card__wrap-img {
  position: relative;
  transition: 0.2s;
}
.card__wrap-img img {
  z-index: -1;
  position: relative;
  width: 100%;
}
.card__more {
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 0.1s;
}
.card__bookmark {
  position: absolute;
  font-size: 0;
  right: 9px;
  bottom: 9px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  transition: 0.1s;
}
.card__bookmark::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  padding-left: 14px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/bookmark.png");
}
.card__bookmark:hover {
  background-color: #ddd;
}
.card__description {
  text-align: center;
}
.card__description h3 {
  margin-bottom: 0;
}
.card__description p {
  display: none;
}
.card__table {
  position: absolute;
  top: 20%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.card__table .card__table-row {
  margin-bottom: 15px;
}
.card__table span {
  display: block;
  color: #fff;
  line-height: 1.13;
}
@media (hover) {
  .card:hover .card__wrap-img {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .card:hover .card__more,
  .card:hover .card__table {
    visibility: visible;
    opacity: 1;
  }
  .card:hover .card__more:hover {
    background-color: #ff8052;
  }
  .card:hover.new::before,
  .card:hover.hit::before {
    background-color: #fff;
    color: #000;
  }
}
@media (pointer: coarse) {
  .card.active .card__wrap-img {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .card.active .card__more,
  .card.active .card__table {
    visibility: visible;
    opacity: 1;
  }
  .card.active .card__more:hover {
    background-color: #ff8052;
  }
  .card.active.new::before,
  .card.active.hit::before {
    background-color: #fff;
    color: #000;
  }
}
.page-header {
  position: relative;
  padding-bottom: 58px;
  margin-bottom: 15px;
}
.page-header__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
.page-header__row:first-child {
  border-bottom: 1px solid #cdcdcd;
}
.page-header__social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  line-height: 1;
}
.page-header__social a {
  margin-left: 15px;
}
.page-header__search {
  position: relative;
}
.page-header__search input {
  background-color: #eee;
  border: none;
  padding: 9px 15px;
  padding-right: 45px;
  width: 150px;
}
.page-header__search button {
  background: none;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  outline: none;
}
.page-header__logo {
  text-align: center;
  text-decoration: none;
}
.page-header__logo p {
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #9b9b9b;
  text-transform: uppercase;
  margin-top: 0;
  line-height: 1.17;
}
.page-header__user {
  transition: 0.4s;
  height: 24px;
}
.page-header__user a {
  color: #262626;
  text-decoration: none;
  margin-left: 30px;
  position: relative;
  transition: 0.4s;
}
.page-header__user a::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  padding-left: 14px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: left center;
  left: 0;
  top: 1px;
}
.page-header__user .page-header__user-enter::before {
  background-image: url("../img/enter.png");
}
.page-header__user .page-header__bookmark::before {
  background-image: url("../img/bookmark.png");
}
.page-header__phone a {
  font-size: 24px;
  font-weight: 900;
  color: #000;
  text-decoration: none;
  line-height: 1;
}
.page-header__phone p {
  margin: 0;
  line-height: 1;
}
.page-header__order-call {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.13;
  text-transform: uppercase;
  margin-left: 2%;
  z-index: 15;
  transition: 0.4s;
}
.page-header__order-call * {
  transition: 0.4s;
}
.page-header__order-call svg {
  width: 17px;
  height: 100%;
  left: 0;
  margin-right: 15px;
}
.page-header__phone-salons {
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.page-header__phone-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.page-header__phone-salons-btn {
  background: none;
  border: none;
  outline: none;
  text-align: left;
  padding-right: 23px;
  font-size: 16px;
  color: #eb3d00;
  position: relative;
  display: none;
}
.page-header__phone-salons-btn svg {
  position: absolute;
  right: 0;
  top: calc(50% - 7px);
  transition: 0.2s;
}
.page-header__phone-salons-item {
  color: #262626;
  line-height: 1.43;
  margin-left: 3%;
}
.page-header__phone-salons-item a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}
.page-header__phone-salons-item p {
  font-size: 14px;
  margin: 0;
  white-space: nowrap;
}
@media screen and (max-width: 1280px) {
  .page-header__row:first-child {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .page-header__social {
    display: block;
    text-align: center;
  }
  .page-header__social p {
    width: 100%;
  }
  .page-header__social a {
    margin: 0 5px;
  }
  .page-header__search {
    position: absolute;
    bottom: 72px;
    right: 20px;
  }
  .page-header__logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .page-header__logo p {
    width: 260px;
    letter-spacing: 1px;
  }
  .page-header__user {
    position: absolute;
    bottom: 17px;
    right: 50px;
    z-index: 15;
  }
  .page-header__user a {
    color: #fff;
  }
  .page-header__user .page-header__user-enter::before {
    background-image: url("../img/enter--white.png");
  }
  .page-header__user .page-header__bookmark::before {
    background-image: url("../img/bookmark--white.png");
  }
  .page-header__phone {
    z-index: 15;
    transition: 0.4s;
  }
  .page-header__phone a {
    font-size: 20px;
    transition: 0.4s;
  }
  .page-header__phone p {
    font-size: 14px;
    transition: 0.4s;
  }
  .page-header__phone-salons {
    -ms-flex-positive: 0;
        flex-grow: 0;
    margin-right: 35%;
    position: relative;
    z-index: 15;
    transition: 0.4s;
  }
  .page-header__phone-salons * {
    transition: 0.4s;
  }
  .page-header__phone-salons.active .page-header__phone-salons-btn svg {
    transform: rotate(90deg);
  }
  .page-header__phone-salons.active .page-header__phone-wrap {
    visibility: visible;
    transform: none;
    opacity: 1;
  }
  .page-header__phone-salons-btn {
    display: block;
  }
  .page-header__phone-wrap {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: 0.2s;
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    z-index: 15;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #aaa;
  }
  .page-header__phone-wrap .page-header__phone-salons-item {
    box-sizing: border-box;
    margin: 0;
    border-bottom: 1px solid #aaa;
    padding: 10px;
    width: 100%;
  }
  .page-header__phone-wrap .page-header__phone-salons-item:last-child {
    border: none;
  }
}
@media screen and (max-width: 750px) {
  .page-header__row {
    border: none !important;
    padding: 0;
  }
  .page-header__row:first-child {
    padding-top: 5px;
  }
  .page-header__social {
    display: none;
  }
  .page-header__partner {
    position: absolute;
    bottom: 67px;
    right: 10px;
    width: 48px;
  }
  .page-header__order-call {
    display: none;
  }
  .page-header__phone {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    line-height: 1;
  }
  .page-header__phone p {
    display: inline-block;
    color: #000;
    margin-left: 5px;
  }
  .page-header__phone-salons {
    width: auto;
  }
  .page-header__phone-salons br {
    display: none;
  }
  .page-header__phone-salons-btn {
    padding-left: 0;
    margin-bottom: 10px;
  }
  .page-header__search {
    bottom: 0;
    right: 5px;
    z-index: 15;
    width: calc(100% - 90px);
    transition: 0.2s;
  }
  .page-header__search input {
    display: block;
    box-sizing: border-box;
    visibility: hidden;
    height: 58px;
    background-color: #555;
    color: #fff;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.4s;
    padding-right: 65px;
  }
  .page-header__search input::-moz-placeholder {
    color: #fff;
  }
  .page-header__search input:-ms-input-placeholder {
    color: #fff;
  }
  .page-header__search input::placeholder {
    color: #fff;
  }
  .page-header__search button {
    height: 58px;
    width: 58px;
    right: 20px;
    background-image: url("../img/search-white.png");
  }
  .page-header__search.active input {
    transform: none;
    visibility: visible;
  }
  .page-header__user {
    display: -ms-flexbox;
    display: flex;
    right: 100px;
  }
  .page-header__user a {
    font-size: 0;
  }
  .page-header__user a::before {
    padding: 5px;
    background-position: center;
  }
}
.nav {
  position: absolute;
  left: 20px;
  right: 20px;
  background-color: #000;
  min-height: 58px;
  transition: 0.5s;
  z-index: 10;
}
.nav .nav__list {
  box-sizing: border-box;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 100%;
}
.nav .nav__list > li {
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.nav .nav__list > li:last-of-type .nav__second-list {
  right: 0;
}
.nav .nav__list .nav__link {
  box-sizing: border-box;
  display: block;
  text-align: center;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.8px;
  background-color: #000;
  padding: 17px 10px;
  transition-property: transform;
  position: relative;
}
.nav .nav__list .nav__link:hover {
  background-color: #eb3d00;
}
.nav .nav__list .nav__link:hover + .nav__second-list {
  visibility: visible;
  opacity: 1;
  transform: none;
}
.nav .nav__second-list {
  visibility: hidden;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 100%;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: 0.2s;
  width: auto;
}
.nav .nav__second-list:hover {
  visibility: visible;
  opacity: 1;
  transform: none;
}
.nav .nav__second-list .nav__second-link {
  display: block;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  background-color: #000;
  text-decoration: none;
  border-bottom: 1px solid #353535;
  padding: 12px 20px;
  padding-left: calc(5% + 59px);
  position: relative;
  transition: 0.1s;
}
.nav .nav__second-list .nav__second-link:hover {
  background-color: #eb3d00;
}
.nav .nav__second-list .nav__second-link::before {
  content: '';
  display: inline-block;
  width: 28px;
  height: 100%;
  left: 5%;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: bottom;
  margin-right: 30px;
  position: absolute;
}
.nav .nav__second-list li:first-child .nav__second-link {
  border-top: 1px solid #353535;
}
.nav .nav__second-list li:nth-child(1) .nav__second-link::before {
  background-image: url("../img/pic_kitchen.svg");
}
.nav .nav__second-list li:nth-child(2) .nav__second-link::before {
  background-image: url("../img/pic_bedroom.svg");
}
.nav .nav__second-list li:nth-child(3) .nav__second-link::before {
  background-image: url("../img/pic_livingroom.svg");
}
.nav .nav__second-list li:nth-child(4) .nav__second-link::before {
  background-image: url("../img/pic_diningroom.svg");
}
.nav .nav__second-list li:nth-child(5) .nav__second-link::before {
  background-image: url("../img/pic_childroom.svg");
}
.nav .nav__second-list li:nth-child(6) .nav__second-link::before {
  background-image: url("../img/pic_storage.svg");
}
.nav .nav__second-list li:nth-child(7) .nav__second-link::before {
  background-image: url("../img/pic_entrancehall.svg");
}
.nav .nav__second-list li:nth-child(8) .nav__second-link::before {
  background-image: url("../img/pic_softfurniture.svg");
}
.nav .nav__second-list li:nth-child(9) .nav__second-link::before {
  background-image: url("../img/pic_office.svg");
}
.nav .nav__second-list li:nth-child(10) .nav__second-link::before {
  background-image: url("../img/pic_accesoires.svg");
}
.nav .nav__second-list button {
  position: absolute;
  top: 1px;
  right: 0;
  background: none;
  border: none;
  padding: 18px;
  cursor: pointer;
  transition: 0.1s;
  outline: none;
}
.nav .nav__second-list button:hover {
  background-color: #eb3d00;
}
.nav .nav__inner-list {
  box-sizing: border-box;
  visibility: visible;
  height: 0;
  transition: 0.4s;
  list-style: none;
  background-color: #313131;
  padding: 0;
}
.nav .nav__inner-list .nav__inner-link {
  display: block;
  font-size: 18px;
  font-weight: normal;
  color: #cdcdcd;
  text-decoration: none;
  padding: 7px 20px;
  padding-left: calc(5% + 58px);
  transition: 0.1s;
}
.nav .nav__inner-list .nav__inner-link:hover {
  background-color: #eb3d00;
}
.nav__nav-btn {
  position: absolute;
  background-color: #eb3d00;
  border: none;
  height: 100%;
  width: 80px;
  display: none;
  outline: none;
}
.nav__nav-btn::before,
.nav__nav-btn::after {
  content: '';
  display: block;
}
.nav__nav-btn::before,
.nav__nav-btn::after,
.nav__nav-btn div {
  height: 2px;
  width: 14px;
  background-color: #fff;
  margin: 3px auto;
  transition: 0.2s;
  transform-origin: left;
}
.nav__nav-btn.active div {
  opacity: 0;
}
.nav__nav-btn.active::before {
  transform: translateX(2px) rotate(45deg);
}
.nav__nav-btn.active::after {
  transform: translateX(2px) rotate(-45deg);
}
@media screen and (min-width: 1281px) {
  .nav .nav__list .nav__link {
    transition-property: background;
    transition-delay: 0s !important;
    transition-duration: 0.1s;
  }
}
@media screen and (max-width: 1280px) {
  .nav .nav__list {
    visibility: hidden;
    position: absolute;
    top: calc(100% - 1px);
  }
  .nav .nav__list li {
    width: 100%;
    position: relative;
  }
  .nav .nav__list .nav__link {
    text-align: left;
    padding-left: 5%;
    transform: translateX(-120%);
    transition: 0.5s;
  }
  .nav .nav__list .nav__link:hover {
    background-color: #000;
  }
  .nav .nav__list.active {
    visibility: visible;
  }
  .nav .nav__list.active .nav__link {
    transform: none;
  }
  .nav .nav__second-list {
    visibility: visible;
    height: 0;
    overflow: hidden;
    transition: 0.4s;
    position: static;
    transform: none;
    opacity: 1;
  }
  .nav__nav-btn {
    display: block;
    transition: 0.4s;
  }
}
@media screen and (max-width: 750px) {
  .nav {
    left: 5px;
    right: 5px;
  }
}
.sticky .nav,
.sticky .page-header__user {
  position: fixed;
}
.sticky .nav {
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
}
.sticky .page-header__user {
  top: 16px;
  right: 20px;
  display: -ms-flexbox;
  display: flex;
}
.sticky .page-header__user a {
  font-size: 0;
  color: #000;
}
.sticky .page-header__user a::before {
  padding: 5px;
  background-position: center;
}
.sticky .page-header__phone,
.sticky .page-header__order-call,
.sticky .page-header__phone-salons {
  position: fixed;
  top: 10px;
  animation: appearance 0.4s;
}
.sticky .page-header__phone {
  left: 12%;
}
.sticky .page-header__phone a,
.sticky .page-header__phone p {
  color: #fff;
}
.sticky .page-header__order-call {
  left: 40%;
}
.sticky .page-header__phone-salons {
  left: 65%;
}
.sticky .page-header__phone-salons .page-header__phone-salons-btn {
  color: #fff;
}
.sticky .page-header__phone-salons path {
  fill: #fff;
}
@media screen and (max-width: 750px) {
  .sticky .nav__nav-btn {
    width: 66px;
  }
  .sticky .page-header__order-call,
  .sticky .page-header__phone-salons {
    position: static;
  }
  .sticky .page-header__phone {
    left: 25%;
    width: auto;
    text-align: left;
    line-height: 1.4;
  }
  .sticky .page-header__phone p,
  .sticky .page-header__phone a {
    letter-spacing: -0.3px;
  }
  .sticky .page-header__phone a {
    font-weight: 700;
  }
  .sticky .page-header__phone p {
    display: block;
    margin-left: 0;
  }
  .sticky .page-header__user {
    right: 3%;
  }
  .sticky .page-header__user a {
    margin-left: 10px;
  }
  .sticky .page-header__search {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
    transform: scaleX(0.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.page-footer {
  padding-bottom: 20px;
}
.page-footer__salons {
  list-style: none;
  padding: 0;
}
.page-footer__salons-item {
  color: #262626;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.page-footer__salons-item h4 {
  margin: 0;
}
.page-footer__salons-item p {
  color: #262626;
  margin: 0;
}
.page-footer__salons-item a {
  color: #262626;
  text-decoration: none;
}
.page-footer__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.page-footer__row p {
  margin: 0;
  margin-bottom: 10px;
}
.page-footer__row a {
  color: #262626;
  cursor: pointer;
}
.page-footer__info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
}
.page-footer__info li {
  margin-right: 30px;
}
@media screen and (max-width: 1280px) {
  .page-footer__info {
    -ms-flex-order: -1;
        order: -1;
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .page-footer__row p {
    width: 100%;
    font-size: 14px;
  }
  .page-footer__row a {
    font-size: 14px;
  }
  .page-footer__info li {
    margin-right: 7px;
  }
  .page-footer__info li a {
    font-size: 14px;
  }
}
