html {
  scroll-behavior: smooth;
}
body {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 100vh;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  box-sizing: border-box;
  padding: 0 50px;
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
}
.container__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.container__header a {
  color: #000;
}
h1 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 20px;
}
h1 + p {
  margin-top: 0px;
}
h2 {
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 1;
}
h2 + p {
  margin-top: 0px;
}
h3 {
  font-size: 18px;
  margin-bottom: 8px;
}
h3 + p {
  margin-top: 0px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 16px;
  font-weight: normal;
}
h6 {
  font-size: 16px;
  font-weight: normal;
  color: #474747;
  margin: 10px 0;
}
p {
  font-size: 16px;
  color: #737373;
}
.general-button {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 1.13;
  text-align: center;
  background-color: #eb3d00;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
}
.general-button:hover {
  background-color: #000;
}
.general-button[disabled] {
  background-color: #c2c2c2;
  cursor: default;
}
a {
  font-size: 16px;
  font-weight: normal;
  color: #eb3d00;
}
blockquote {
  background-color: #ebebeb;
  border-left: 5px solid #eb3d00;
  padding: 30px 40px;
  margin-left: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: #010101;
}
.content ul {
  list-style: none;
  padding-left: 0;
}
.content ul li {
  color: #737373;
  padding-left: 0;
}
.content ul li::before {
  margin-top: 6px;
  margin-right: 20px;
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 8px;
  height: 8px;
  background-color: #eb3d00;
}
ol {
  padding-left: 0;
  counter-reset: count;
  list-style: none;
}
ol li {
  color: #737373;
}
ol li::before {
  content: '';
  display: inline-block;
  min-width: 20px;
  margin-right: 8px;
  counter-increment: count;
  content: counter(count);
  font-weight: bold;
  color: #eb3d00;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table tr {
  border-bottom: 1px solid #c2c2c2;
}
table th,
table td {
  padding-bottom: 15px;
  padding-top: 18px;
  padding-right: 20px;
  text-align: left;
}
table th:last-child,
table td:last-child {
  padding-right: 0;
}
table th {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}
table td {
  font-size: 16px;
  color: #737373;
}
img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}
input {
  box-sizing: border-box;
  font: inherit;
  background-color: #eee;
  width: 100%;
  border: none;
  margin-bottom: 10px;
  padding: 10px 15px;
}
input::-moz-placeholder {
  color: #7c7b7b;
}
input:-ms-input-placeholder {
  color: #7c7b7b;
}
input::placeholder {
  color: #7c7b7b;
}
@media screen and (max-width: 1280px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 750px) {
  .container {
    padding: 0 5px;
  }
}
.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  box-sizing: border-box;
  margin-left: -10px;
}
.grid > * {
  box-sizing: border-box;
  margin-left: 10px;
  margin-bottom: 10px;
  width: calc(20% - 10px);
}
.grid.grid-3 > * {
  width: calc(33% - 10px);
}
.grid.grid-2 > * {
  width: calc(50% - 10px);
}
@media screen and (max-width: 1500px) {
  .grid > * {
    width: calc(25% - 10px);
  }
}
@media screen and (max-width: 1100px) {
  .grid {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .grid > * {
    width: calc(50% - 10px);
  }
  .grid.grid-2 > * {
    max-width: none;
    width: calc(100% - 10px);
  }
}
@media screen and (max-width: 1000px) {
  .grid.grid-3 > * {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 800px) {
  .grid > * {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 600px) {
  .grid.grid-3 > * {
    width: calc(100% - 10px);
  }
}
@media screen and (max-width: 500px) {
  .grid > * {
    width: calc(100% - 10px);
  }
}
.card {
  position: relative;
  max-width: 400px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.card.new::before {
  content: 'Новинка';
}
.card.hit::before {
  content: 'хит';
}
.card.new::before,
.card.hit::before {
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 4px 20px;
  border: 1px solid #fff;
  top: 17px;
  left: 17px;
  z-index: 1;
  transition: 0.2s;
}
.card__wrap-img {
  position: relative;
  transition: 0.2s;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.card__wrap-img img {
  z-index: -1;
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__more {
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 0.1s;
}
.card__bookmark {
  position: absolute;
  font-size: 0;
  right: 9px;
  bottom: 9px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  transition: 0.1s;
}
.card__bookmark::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  padding-left: 14px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/bookmark.png");
}
.card__bookmark:hover {
  background-color: #ddd;
}
.card__description {
  text-align: center;
}
.card__description h3 {
  margin-bottom: 0;
}
.card__description p {
  display: none;
}
.card__table {
  position: absolute;
  top: 20%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.card__table .card__table-row {
  margin-bottom: 15px;
}
.card__table span {
  display: block;
  color: #fff;
  line-height: 1.13;
}
@media (hover) {
  .card:hover .card__wrap-img {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .card:hover .card__more,
  .card:hover .card__table {
    visibility: visible;
    opacity: 1;
  }
  .card:hover .card__more:hover {
    background-color: #ff8052;
  }
  .card:hover.new::before,
  .card:hover.hit::before {
    background-color: #fff;
    color: #000;
  }
}
@media (pointer: coarse) {
  .card.active .card__wrap-img {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .card.active .card__more,
  .card.active .card__table {
    visibility: visible;
    opacity: 1;
  }
  .card.active .card__more:hover {
    background-color: #ff8052;
  }
  .card.active.new::before,
  .card.active.hit::before {
    background-color: #fff;
    color: #000;
  }
}
.page-header {
  position: relative;
  padding-bottom: 58px;
  margin-bottom: 15px;
}
.page-header__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
.page-header__row:first-child {
  border-bottom: 1px solid #cdcdcd;
}
.page-header__social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  line-height: 1;
}
.page-header__social a {
  margin-left: 15px;
}
.page-header__search {
  position: relative;
}
.page-header__search input {
  padding-right: 45px;
  width: 150px;
  margin: 0;
}
.page-header__search button {
  background: none;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  outline: none;
}
.page-header__logo {
  text-align: center;
  text-decoration: none;
}
.page-header__logo p {
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #9b9b9b;
  text-transform: uppercase;
  margin-top: 0;
  line-height: 1.17;
}
.page-header__user {
  transition: 0.4s;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 58px;
}
.page-header__user > a,
.page-header__user span {
  color: #262626;
  text-decoration: none;
  margin-left: 20px;
  position: relative;
  transition: 0.4s;
  display: inline-block;
  padding: 7px 15px;
  cursor: pointer;
}
.page-header__user > a::before,
.page-header__user span::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  padding-left: 14px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: left center;
  left: 0;
  top: 1px;
}
.page-header__user .page-header__user-control {
  position: relative;
}
.page-header__user .page-header__user-control::before {
  background-image: url("../img/control.png");
}
.page-header__user .page-header__user-control.enter .user-svg {
  margin-right: 15px;
  position: relative;
  top: 2px;
}
.page-header__user .page-header__user-control.enter .user-svg path {
  transition: 0.4s;
}
.page-header__user .page-header__user-control.enter .arrow-svg {
  margin-left: 7px;
  margin-bottom: 1px;
}
.page-header__user .page-header__user-control.enter .arrow-svg path {
  transition: 0.4s;
}
.page-header__user .page-header__user-control.enter::before {
  content: none;
}
.page-header__user .page-header__user-control.enter:hover {
  background-color: #ffcbb8;
}
.page-header__user .page-header__user-control.active {
  background-color: #eb3d00 !important;
  color: #fff;
}
.page-header__user .page-header__user-control.active path {
  fill: #fff;
}
.page-header__user .page-header__user-control.active .page-header__user-control-list {
  visibility: visible;
  opacity: 1;
  transform: none;
}
.page-header__user .page-header__bookmark::before {
  background-image: url("../img/bookmark.svg");
}
.page-header__user-control-list {
  position: absolute;
  top: 22px;
  left: 0;
  list-style: none;
  padding: 5px 0;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #aaa;
  min-width: 100%;
  visibility: hidden;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: 0.2s;
}
.page-header__user-control-list a {
  display: block;
  color: #010101;
  text-decoration: none;
  padding: 5px 15px;
  white-space: nowrap;
  transition: 0.2s;
}
.page-header__user-control-list a:hover {
  background-color: #eb3d00;
  color: #fff;
}
.page-header__phone a {
  font-size: 24px;
  font-weight: 900;
  color: #000;
  text-decoration: none;
  line-height: 1;
}
.page-header__phone p {
  margin: 0;
  line-height: 1;
}
.page-header__order-call {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.13;
  text-transform: uppercase;
  margin-left: 2%;
  z-index: 15;
  transition: 0.4s;
}
.page-header__order-call * {
  transition: 0.4s;
}
.page-header__order-call svg {
  width: 17px;
  height: 100%;
  left: 0;
  margin-right: 15px;
}
.page-header__phone-salons {
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.page-header__phone-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.page-header__phone-salons-btn {
  background: none;
  border: none;
  outline: none;
  text-align: left;
  padding-right: 23px;
  font-size: 16px;
  color: #eb3d00;
  position: relative;
  display: none;
}
.page-header__phone-salons-btn svg {
  position: absolute;
  right: 0;
  top: calc(50% - 7px);
  transition: 0.2s;
}
.page-header__phone-salons-item {
  color: #262626;
  line-height: 1.43;
  margin-left: 3%;
}
.page-header__phone-salons-item a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}
.page-header__phone-salons-item p {
  font-size: 14px;
  margin: 0;
  white-space: nowrap;
}
@media screen and (max-width: 1280px) {
  .page-header__row:first-child {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .page-header__social {
    display: block;
    text-align: center;
  }
  .page-header__social p {
    width: 100%;
  }
  .page-header__social a {
    margin: 0 5px;
  }
  .page-header__search {
    position: absolute;
    bottom: 72px;
    right: 20px;
  }
  .page-header__logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .page-header__logo p {
    width: 260px;
    letter-spacing: 1px;
  }
  .page-header__user {
    position: absolute;
    bottom: 0;
    right: 50px;
    z-index: 14;
  }
  .page-header__user > a,
  .page-header__user span {
    color: #fff;
    padding: 17px;
    margin: 0;
  }
  .page-header__user > a path,
  .page-header__user span path {
    fill: #fff;
  }
  .page-header__user .page-header__user-control::before {
    background-image: url("../img/control--white.png");
  }
  .page-header__user .page-header__bookmark::before {
    background-image: url("../img/bookmark--white.svg");
  }
  .page-header__user-control-list {
    top: 42px;
  }
  .page-header__phone {
    z-index: 15;
    transition: 0.4s;
  }
  .page-header__phone a {
    font-size: 20px;
    transition: 0.4s;
  }
  .page-header__phone p {
    font-size: 14px;
    transition: 0.4s;
  }
  .page-header__phone-salons {
    -ms-flex-positive: 0;
        flex-grow: 0;
    margin-right: 35%;
    position: relative;
    z-index: 15;
    transition: 0.4s;
  }
  .page-header__phone-salons * {
    transition: 0.4s;
  }
  .page-header__phone-salons.active .page-header__phone-salons-btn svg {
    transform: rotate(90deg);
  }
  .page-header__phone-salons.active .page-header__phone-wrap {
    visibility: visible;
    transform: none;
    opacity: 1;
  }
  .page-header__phone-salons-btn {
    display: block;
  }
  .page-header__phone-wrap {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: 0.2s;
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    z-index: 15;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #aaa;
  }
  .page-header__phone-wrap .page-header__phone-salons-item {
    box-sizing: border-box;
    margin: 0;
    border-bottom: 1px solid #aaa;
    padding: 10px;
    width: 100%;
  }
  .page-header__phone-wrap .page-header__phone-salons-item:last-child {
    border: none;
  }
}
@media screen and (max-width: 750px) {
  .page-header__row {
    border: none !important;
    padding: 0;
  }
  .page-header__row:first-child {
    padding-top: 5px;
  }
  .page-header__social {
    display: none;
  }
  .page-header__partner {
    position: absolute;
    bottom: 67px;
    right: 10px;
    width: 48px;
  }
  .page-header__order-call {
    display: none;
  }
  .page-header__phone {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    line-height: 1;
  }
  .page-header__phone p {
    display: inline-block;
    color: #000;
    margin-left: 5px;
  }
  .page-header__phone-salons {
    width: auto;
  }
  .page-header__phone-salons br {
    display: none;
  }
  .page-header__phone-salons-btn {
    padding-left: 0;
    margin-bottom: 10px;
  }
  .page-header__search {
    bottom: 0;
    right: 5px;
    z-index: 15;
    width: 90px;
    transition: 0.2s;
  }
  .page-header__search input {
    display: block;
    box-sizing: border-box;
    visibility: hidden;
    height: 58px;
    background-color: #555;
    color: #fff;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.4s;
    padding-right: 65px;
  }
  .page-header__search input::-moz-placeholder {
    color: #fff;
  }
  .page-header__search input:-ms-input-placeholder {
    color: #fff;
  }
  .page-header__search input::placeholder {
    color: #fff;
  }
  .page-header__search button {
    height: 58px;
    width: 58px;
    right: 20px;
    background-image: url("../img/search-white.png");
  }
  .page-header__search.active {
    width: calc(100% - 90px);
  }
  .page-header__search.active input {
    transform: none;
    visibility: visible;
  }
  .page-header__user {
    display: -ms-flexbox;
    display: flex;
    right: 84px;
  }
  .page-header__user > a,
  .page-header__user span {
    box-sizing: border-box;
    font-size: 0;
    height: 58px;
    margin: 0;
  }
  .page-header__user > a .user-svg,
  .page-header__user span .user-svg {
    top: 5px !important;
  }
  .page-header__user > a .arrow-svg,
  .page-header__user span .arrow-svg {
    margin-bottom: -2px !important;
  }
  .page-header__user > a::before,
  .page-header__user span::before {
    padding: 5px;
    background-position: center;
  }
  .page-header__user-control-list {
    top: 58px;
  }
}
.nav {
  position: absolute;
  left: 50px;
  right: 50px;
  background-color: #000;
  min-height: 58px;
  transition: 0.5s;
  z-index: 10;
}
.nav .nav__list {
  box-sizing: border-box;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
}
.nav .nav__list > li {
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.nav .nav__list > li:last-of-type .nav__second-list {
  right: 0;
}
.nav .nav__list .nav__link {
  box-sizing: border-box;
  display: block;
  text-align: center;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.8px;
  background-color: #000;
  padding: 17px 10px;
  transition-property: transform;
  position: relative;
}
.nav .nav__list .nav__link:hover {
  background-color: #eb3d00;
}
.nav .nav__list .nav__link:hover + .nav__second-list {
  visibility: visible;
  opacity: 1;
  transform: none;
}
.nav .nav__list span.nav__link {
  background-color: #eb3d00 !important;
  cursor: default;
}
.nav .nav__second-list {
  display: block;
  visibility: hidden;
  position: absolute;
  top: 100%;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: 0.2s;
}
.nav .nav__second-list:hover {
  visibility: visible;
  opacity: 1;
  transform: none;
}
.nav__second-list,
.catalog {
  list-style: none;
  padding: 0;
  width: auto;
  position: relative;
  display: inline-block;
}
.nav__second-list .nav__second-link,
.catalog .nav__second-link {
  display: block;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  background-color: #000;
  text-decoration: none;
  border-bottom: 1px solid #353535;
  padding: 12px 20px;
  padding-left: calc(5% + 59px);
  position: relative;
  transition: 0.1s;
}
.nav__second-list .nav__second-link:hover,
.catalog .nav__second-link:hover {
  background-color: #eb3d00;
}
.nav__second-list .nav__second-link::before,
.catalog .nav__second-link::before {
  content: '';
  display: inline-block;
  width: 28px;
  height: 100%;
  left: 5%;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: bottom;
  margin-right: 30px;
  position: absolute;
}
.nav__second-list li:first-child .nav__second-link,
.catalog li:first-child .nav__second-link {
  border-top: none;
}
.nav__second-list li:nth-child(1) .nav__second-link::before,
.catalog li:nth-child(1) .nav__second-link::before {
  background-image: url("../img/pic_kitchen.svg");
}
.nav__second-list li:nth-child(2) .nav__second-link::before,
.catalog li:nth-child(2) .nav__second-link::before {
  background-image: url("../img/pic_bedroom.svg");
}
.nav__second-list li:nth-child(3) .nav__second-link::before,
.catalog li:nth-child(3) .nav__second-link::before {
  background-image: url("../img/pic_livingroom.svg");
}
.nav__second-list li:nth-child(4) .nav__second-link::before,
.catalog li:nth-child(4) .nav__second-link::before {
  background-image: url("../img/pic_diningroom.svg");
}
.nav__second-list li:nth-child(5) .nav__second-link::before,
.catalog li:nth-child(5) .nav__second-link::before {
  background-image: url("../img/pic_childroom.svg");
}
.nav__second-list li:nth-child(6) .nav__second-link::before,
.catalog li:nth-child(6) .nav__second-link::before {
  background-image: url("../img/pic_storage.svg");
}
.nav__second-list li:nth-child(7) .nav__second-link::before,
.catalog li:nth-child(7) .nav__second-link::before {
  background-image: url("../img/pic_entrancehall.svg");
}
.nav__second-list li:nth-child(8) .nav__second-link::before,
.catalog li:nth-child(8) .nav__second-link::before {
  background-image: url("../img/pic_softfurniture.svg");
}
.nav__second-list li:nth-child(9) .nav__second-link::before,
.catalog li:nth-child(9) .nav__second-link::before {
  background-image: url("../img/pic_office.svg");
}
.nav__second-list li:nth-child(10) .nav__second-link::before,
.catalog li:nth-child(10) .nav__second-link::before {
  background-image: url("../img/pic_accesoires.svg");
}
.nav__second-list button,
.catalog button {
  position: absolute;
  top: 1px;
  right: 0;
  background: none;
  border: none;
  padding: 18px;
  cursor: pointer;
  transition: 0.1s;
  outline: none;
}
.nav__second-list button:hover,
.catalog button:hover {
  background-color: #eb3d00;
}
.nav__second-list .nav__inner-list,
.catalog .nav__inner-list {
  box-sizing: border-box;
  visibility: visible;
  height: 0;
  transition: 0.4s;
  list-style: none;
  background-color: #313131;
  padding: 0;
  overflow: hidden;
}
.nav__second-list .nav__inner-list .nav__inner-link,
.catalog .nav__inner-list .nav__inner-link {
  display: block;
  font-size: 18px;
  font-weight: normal;
  color: #cdcdcd;
  text-decoration: none;
  padding: 7px 20px;
  padding-left: calc(5% + 58px);
  transition: 0.1s;
}
.nav__second-list .nav__inner-list .nav__inner-link:hover,
.catalog .nav__inner-list .nav__inner-link:hover {
  background-color: #eb3d00;
}
.nav__nav-btn {
  position: absolute;
  background-color: #eb3d00;
  border: none;
  height: 100%;
  width: 80px;
  display: none;
  outline: none;
}
.nav__nav-btn::before,
.nav__nav-btn::after {
  content: '';
  display: block;
}
.nav__nav-btn::before,
.nav__nav-btn::after,
.nav__nav-btn div {
  height: 2px;
  width: 14px;
  background-color: #fff;
  margin: 3px auto;
  transition: 0.2s;
  transform-origin: left;
}
.nav__nav-btn.active div {
  opacity: 0;
}
.nav__nav-btn.active::before {
  transform: translateX(2px) rotate(45deg);
}
.nav__nav-btn.active::after {
  transform: translateX(2px) rotate(-45deg);
}
@media screen and (min-width: 1281px) {
  .nav .nav__list .nav__link {
    transition-property: background;
    transition-delay: 0s !important;
    transition-duration: 0.1s;
  }
}
@media screen and (max-width: 1280px) {
  .nav {
    left: 20px;
    right: 20px;
  }
  .nav .nav__list {
    visibility: hidden;
    position: absolute;
    top: calc(100% - 1px);
  }
  .nav .nav__list li {
    width: 100%;
    position: relative;
  }
  .nav .nav__list .nav__link {
    text-align: left;
    padding-left: 5%;
    transform: translateX(-120%);
    transition: 0.5s;
  }
  .nav .nav__list .nav__link:hover {
    background-color: #000;
  }
  .nav .nav__list.active {
    visibility: visible;
  }
  .nav .nav__list.active .nav__link {
    transform: none;
  }
  .nav .nav__second-list {
    visibility: visible;
    height: 0;
    overflow: hidden;
    transition: 0.4s;
    position: static;
    transform: none;
    opacity: 1;
  }
  .nav__nav-btn {
    display: block;
    transition: 0.4s;
  }
}
@media screen and (max-width: 750px) {
  .nav {
    left: 5px;
    right: 5px;
  }
}
.sticky .nav,
.sticky .page-header__user {
  position: fixed;
  z-index: 100;
}
.sticky .nav {
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
}
.sticky .page-header__user {
  top: 0;
  right: 20px;
  display: -ms-flexbox;
  display: flex;
  z-index: 300;
}
.sticky .page-header__user > a,
.sticky .page-header__user span {
  font-size: 0;
  color: #000;
  box-sizing: border-box;
  height: 58px;
  margin: 0;
}
.sticky .page-header__user > a .user-svg,
.sticky .page-header__user span .user-svg {
  top: 5px !important;
}
.sticky .page-header__user > a .arrow-svg,
.sticky .page-header__user span .arrow-svg {
  margin-bottom: -2px !important;
}
.sticky .page-header__user > a::before,
.sticky .page-header__user span::before {
  padding: 5px;
  background-position: center;
}
.sticky .page-header__user-control-list {
  top: 58px;
}
.sticky .page-header__phone,
.sticky .page-header__order-call,
.sticky .page-header__phone-salons {
  position: fixed;
  top: 10px;
  animation: appearance 0.4s;
  z-index: 101;
}
.sticky .page-header__phone-wrap {
  top: calc(100% + 10px);
}
.sticky .page-header__phone {
  left: 12%;
}
.sticky .page-header__phone a,
.sticky .page-header__phone p {
  color: #fff;
}
.sticky .page-header__order-call {
  left: 40%;
}
.sticky .page-header__phone-salons {
  left: 65%;
}
.sticky .page-header__phone-salons .page-header__phone-salons-btn {
  color: #fff;
}
.sticky .page-header__phone-salons path {
  fill: #fff;
}
@media screen and (max-width: 750px) {
  .sticky .nav__nav-btn {
    width: 66px;
  }
  .sticky .page-header__order-call,
  .sticky .page-header__phone-salons {
    position: static;
  }
  .sticky .page-header__phone {
    left: 25%;
    width: auto;
    text-align: left;
    line-height: 1.4;
  }
  .sticky .page-header__phone p,
  .sticky .page-header__phone a {
    letter-spacing: -0.3px;
  }
  .sticky .page-header__phone a {
    font-weight: 700;
  }
  .sticky .page-header__phone p {
    display: block;
    margin-left: 0;
  }
  .sticky .page-header__user {
    right: 3%;
  }
  .sticky .page-header__user a {
    margin-left: 10px;
  }
  .sticky .page-header__search {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
    transform: scaleX(0.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.slider {
  position: relative;
  margin-bottom: 10px;
}
.slider__promo {
  position: absolute;
  left: 47px;
  bottom: 41px;
  color: #898989;
  font-weight: bold;
  z-index: 1;
  font-size: 18px;
}
.slider__promo b {
  font-size: 30px;
}
.slider__item {
  height: 700px;
  position: relative;
}
.slider__item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.slider__item-description {
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  right: 10%;
  width: 50%;
}
.slider__item-description h1 {
  color: #fff;
  line-height: 1.19;
}
.slider__item-description .general-button {
  padding: 15px 50px;
}
.slider__control {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.slider__control .slick-dots {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.slider__control .slick-dots li {
  padding: 10px;
  cursor: pointer;
  display: block;
}
.slider__control .slick-dots li:hover button {
  box-shadow: 0px 0px 7px 5px rgba(235, 61, 0, 0.7);
}
.slider__control .slick-dots li.slick-active button {
  background-color: #eb3d00;
}
.slider__control .slick-dots button {
  box-sizing: border-box;
  display: block;
  font-size: 0;
  border: none;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1.5px 2.6px 7px 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}
@media screen and (max-width: 1000px) {
  .slider__item-description {
    width: 100%;
    right: 0;
    top: 5%;
    padding: 0 5%;
  }
  .slider__item {
    height: 500px;
  }
  .slider__promo {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .slider__item-description h1 {
    font-size: 30px;
  }
}
.catalog {
  box-sizing: border-box;
  width: 350px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 0;
  z-index: 1;
}
.catalog .nav__second-link {
  font-size: 16px;
  border: none !important;
  background: none;
  padding-left: 25%;
}
.catalog .nav__second-link::before {
  left: 10%;
}
.catalog button {
  padding: 17px;
  top: 0;
}
@media screen and (max-width: 1000px) {
  .catalog {
    display: none;
  }
}
.advantage p {
  box-sizing: border-box;
  font-size: 18px;
  color: #000;
  position: relative;
  -ms-flex-positive: 1;
      flex-grow: 1;
  text-align: center;
  padding: 0 30px;
}
.advantage p::after {
  content: '';
  display: block;
  top: 25%;
  right: -5px;
  height: 50%;
  width: 1px;
  background-color: #cdcdcd;
  position: absolute;
}
.advantage p:last-child::after {
  content: none;
}
.advantage p::before {
  content: '';
  display: block;
  width: 57px;
  height: 45px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.advantage p:nth-child(1)::before {
  background-image: url("../img/chair.svg");
}
.advantage p:nth-child(2)::before {
  background-image: url("../img/truck.svg");
}
.advantage p:nth-child(3)::before {
  background-image: url("../img/location.svg");
}
.advantage p:nth-child(4)::before {
  background-image: url("../img/team.svg");
}
@media screen and (max-width: 1100px) {
  .advantage p {
    width: calc(50% - 20px);
  }
  .advantage p:nth-child(2)::after {
    content: none;
  }
}
@media screen and (max-width: 500px) {
  .advantage p {
    font-size: 14px;
    padding: 0 10px;
  }
  .advantage p::after {
    content: none;
  }
}
.action {
  position: relative;
  overflow: hidden;
  min-height: 300px;
}
.action img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}
.action__description {
  box-sizing: border-box;
  width: 50%;
  right: 0;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  margin-left: auto;
}
.action__description > * {
  color: #fff;
}
.action__description a {
  font: inherit;
  color: #fff;
  text-decoration: none;
}
.action__description a:hover {
  color: #bbb;
}
@media screen and (max-width: 1100px) {
  .action__description {
    width: 45%;
  }
}
@media screen and (max-width: 800px) {
  .action__description {
    width: 100%;
    height: auto;
    margin-top: 50%;
  }
  .action__description a {
    text-decoration: underline;
  }
}
.news {
  padding-right: 20px;
}
.news time {
  color: #949494;
}
.news h3 {
  margin-top: 0;
}
.news p {
  color: #000;
}
.services {
  background-image: url("../img/services-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 75%;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
}
.services p {
  box-sizing: border-box;
  color: #fff;
  width: 20%;
  padding: 0 15px;
  text-align: center;
  font-weight: bold;
}
.services p::before {
  content: '';
  display: block;
  width: 95px;
  height: 45px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.services p:nth-child(1)::before {
  background-image: url("../img/services-1.svg");
}
.services p:nth-child(2)::before {
  background-image: url("../img/services-2.svg");
}
.services p:nth-child(3)::before {
  background-image: url("../img/services-3.svg");
}
.services p:nth-child(4)::before {
  background-image: url("../img/services-4.svg");
}
.services p:nth-child(5)::before {
  background-image: url("../img/services-5.svg");
}
@media screen and (max-width: 1280px) {
  .services p {
    width: 33%;
    -ms-flex-positive: 1;
        flex-grow: 1;
  }
}
@media screen and (max-width: 700px) {
  .services p {
    width: 100%;
  }
}
.about img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about .grid-3 {
  margin-left: 0;
}
.about .grid-3 > div {
  margin: 0;
  -ms-flex-positive: 1;
      flex-grow: 1;
  position: relative;
  min-height: 170px;
}
.about .grid-3 > div h2,
.about .grid-3 > div p {
  margin-left: 40px;
  margin-right: 40px;
}
.about .grid-3 > div h2 {
  margin-top: 40px;
}
.about .grid-3 > div p {
  margin-bottom: 30px;
}
.about .grid-3 > div p + img {
  opacity: 0.2;
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .about .grid-3 > div {
    -ms-flex-order: 1;
        order: 1;
  }
  .about .grid-3 > div:nth-child(3) {
    -ms-flex-order: 3;
        order: 3;
  }
  .about .grid-3 > div:nth-child(4) {
    -ms-flex-order: 2;
        order: 2;
  }
  .about .grid-3 > div:nth-child(5) {
    -ms-flex-order: 4;
        order: 4;
  }
  .about .grid-3 > div:nth-child(6) {
    -ms-flex-order: 4;
        order: 4;
  }
  .about .grid-3 > div h2,
  .about .grid-3 > div p {
    margin-left: 20px;
    margin-right: 20px;
  }
  .about .grid-3 > div h2 {
    margin-top: 20px;
  }
  .about .grid-3 > div p {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .about .grid-3 > div h2,
  .about .grid-3 > div p {
    margin-left: 0;
    margin-right: 0;
  }
  .about .grid-3 > div h2 {
    margin-top: 20px;
  }
  .about .grid-3 > div p {
    margin-bottom: 20px;
  }
}
.feedback {
  background-color: #dfdfdf;
  padding: 20px 30px;
}
.feedback h2 {
  margin-bottom: 30px;
}
.feedback p {
  padding-right: 20px;
}
.feedback__phone {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  line-height: 1;
}
.feedback__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
}
.feedback__row p {
  font-size: 14px;
  color: #262626;
  margin-top: 0;
}
.feedback__row p a {
  font: inherit;
  color: inherit;
}
@media screen and (max-width: 1100px) {
  .feedback p {
    padding-right: 0;
  }
  .feedback__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 500px) {
  .feedback {
    padding: 15px;
  }
}
.page-footer {
  padding-bottom: 20px;
  margin-top: 20px;
}
.page-footer__salons {
  list-style: none;
  padding: 0;
}
.page-footer__salons-item {
  color: #262626;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.page-footer__salons-item h4 {
  margin: 0;
}
.page-footer__salons-item p {
  color: #262626;
  margin: 0;
}
.page-footer__salons-item a {
  color: #262626;
  text-decoration: none;
}
.page-footer__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.page-footer__row p {
  margin: 0;
  margin-bottom: 10px;
}
.page-footer__row a {
  color: #262626;
  cursor: pointer;
}
.page-footer__info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
}
.page-footer__info li {
  margin-right: 30px;
}
@media screen and (max-width: 1280px) {
  .page-footer__info {
    -ms-flex-order: -1;
        order: -1;
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .page-footer__row p {
    width: 100%;
    font-size: 14px;
  }
  .page-footer__row a {
    font-size: 14px;
  }
  .page-footer__info li {
    margin-right: 7px;
  }
  .page-footer__info li a {
    font-size: 14px;
  }
}
