*,
*::before,
*::after{
    box-sizing: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body {
    // font-family: Gilroy, Arial, sans-serif;
    // font-weight: 800;
    // font-size: 15px;
    // line-height: 20px;
    // color: #000;
    background-color: #fff;
}
.container {
    width: 960px;
    padding: 0 20px;
    margin: 0 auto;
}
html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'GothamPro';
	font-display: swap;
	src: url('../fonts/GothamPro.woff2') format('woff2'),
	url('../fonts/GothamPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro';
	font-display: swap;
	src: url('../fonts/GothamPro-Light.woff2') format('woff2'),
	url('../fonts/GothamPro-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro';
	font-display: swap;
	src: url('../fonts/GothamPro-Medium.woff2') format('woff2'),
	url('../fonts/GothamPro-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
