*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: GothamPro, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.3px;
  color: #808080;
  background-color: #fff;
  margin: 0;
}
.container {
  width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}
.general-button {
  background-color: #ffcf3f;
  display: inline-block;
  text-decoration: none;
  font-family: GothamPro;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  color: #333333;
  padding: 15px 20px;
  border-radius: 3px;
}
@font-face {
  font-family: 'GothamPro';
  font-display: swap;
  src: url('../fonts/GothamPro.woff2') format('woff2'), url('../fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  font-display: swap;
  src: url('../fonts/GothamPro-Light.woff2') format('woff2'), url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  font-display: swap;
  src: url('../fonts/GothamPro-Medium.woff2') format('woff2'), url('../fonts/GothamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
.page-header {
  color: #fff;
  background-color: #374250;
}
.page-header__wrap {
  padding-top: 17px;
  padding-bottom: 13px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.page-header__text {
  font-family: GothamPro, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  font-style: normal;
  padding-left: 20px;
  position: relative;
}
.page-header__text::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-header__telephone {
  margin-left: auto;
  margin-right: 45px;
  padding-left: 24px;
}
.page-header__telephone::before {
  top: 3px;
  width: 14px;
  height: 14px;
  background-image: url('../img/Orion_calls (white).svg');
}
.page-header__address::before {
  width: 14px;
  height: 14px;
  background-image: url('../img/Orion_pin (white).svg');
}
.delivery {
  background-color: #f1f0f5;
}
.delivery__about-delivery {
  padding-top: 89px;
  width: 530px;
  position: relative;
  padding-bottom: 55px;
}
.delivery__about-delivery::after {
  content: '';
  display: block;
  -ms-flex-preferred-size: 641px;
      flex-basis: 641px;
  width: 766px;
  height: 460px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/shipping_container-min.jpg');
  position: absolute;
  left: 83%;
  top: 34px;
  z-index: 1;
}
.delivery__header {
  font-family: GothamPro;
  font-size: 55px;
  font-weight: 300;
  line-height: 1.2;
  color: #374250;
  margin-bottom: 7px;
  position: relative;
  z-index: 5;
}
.delivery__text {
  font-family: GothamPro;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 25px;
}
.delivery__advantages {
  border-top: 1px solid #d6d6d6;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 41px 25px;
  padding-bottom: 35px;
  position: relative;
  z-index: 5;
}
.delivery__advantages-item {
  list-style: none;
  padding-left: 45px;
  position: relative;
}
.delivery__advantages-item::before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 4px;
}
.delivery__advantages-item:nth-child(1)::before {
  background-image: url('../img/delivery__umbrella.svg');
}
.delivery__advantages-item:nth-child(2)::before {
  background-image: url('../img/delivery__money-box.svg');
}
.delivery__advantages-item:nth-child(3)::before {
  background-image: url('../img/delivery__shield-security.svg');
}
.delivery__advantages-item b {
  font-family: GothamPro;
  font-size: 19px;
  font-weight: 500;
  color: #333333;
}
.delivery__advantages-item p {
  font-family: GothamPro;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: #808080;
  margin: 6px 0;
}
