*,
*::before,
*::after {
  box-sizing: inherit;
}
::-moz-selection {
  background: #ffcf3f;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #ffcf3f;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #ffcf3f;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: #ffcf3f;
  color: #fff;
  text-shadow: none;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: GothamPro, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.3px;
  color: #808080;
  background-color: #fff;
  margin: 0;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 960px;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
.general-button {
  background-color: #ffcf3f;
  display: inline-block;
  text-decoration: none;
  border: none;
  font-family: GothamPro;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  color: #333333;
  padding: 15px 20px;
  border-radius: 3px;
}
.general-header {
  font-family: GothamPro;
  font-size: 52px;
  font-weight: 300;
  text-align: center;
  color: #374250;
}
@font-face {
  font-family: 'GothamPro';
  font-display: swap;
  src: url('../fonts/GothamPro.woff2') format('woff2'), url('../fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  font-display: swap;
  src: url('../fonts/GothamPro-Light.woff2') format('woff2'), url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  font-display: swap;
  src: url('../fonts/GothamPro-Medium.woff2') format('woff2'), url('../fonts/GothamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
.page-header {
  color: #fff;
  background-color: #374250;
}
.page-header__wrap {
  padding-top: 17px;
  padding-bottom: 13px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.page-header__text {
  font-family: GothamPro, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  font-style: normal;
  padding-left: 20px;
  position: relative;
}
.page-header__text::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-header__telephone {
  margin-left: auto;
  margin-right: 45px;
  padding-left: 24px;
}
.page-header__telephone::before {
  top: 3px;
  width: 14px;
  height: 14px;
  background-image: url('../img/Orion_calls (white).svg');
}
.page-header__address::before {
  width: 14px;
  height: 14px;
  background-image: url('../img/Orion_pin (white).svg');
}
@media screen and (max-width: 700px) {
  .page-header__wrap {
    -ms-flex-direction: column;
        flex-direction: column;
    padding-top: 27px;
    padding-bottom: 29px;
  }
  .page-header__logo {
    margin-bottom: 32px;
  }
  .page-header__telephone {
    margin: 0;
    margin-top: 14px;
    -ms-flex-order: 3;
        order: 3;
  }
}
.delivery {
  background-color: #f1f0f5;
}
.delivery__about-delivery {
  padding-top: 89px;
  max-width: 530px;
  margin-right: 45%;
  position: relative;
  padding-bottom: 55px;
}
.delivery__about-delivery::after {
  content: '';
  display: block;
  width: 766px;
  height: 460px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/shipping_container-min.jpg');
  position: absolute;
  left: 83%;
  top: 34px;
  z-index: 1;
}
.delivery__about-wrap {
  position: relative;
  z-index: 2;
}
.delivery__header {
  font-family: GothamPro;
  font-size: 55px;
  font-weight: 300;
  line-height: 1.2;
  color: #374250;
  margin-bottom: 7px;
  position: relative;
  z-index: 5;
}
.delivery__text {
  font-family: GothamPro;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 25px;
}
.delivery__advantages {
  border-top: 1px solid #d6d6d6;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 41px 25px;
  padding-bottom: 35px;
  position: relative;
  z-index: 5;
}
.delivery__advantages-item {
  list-style: none;
  padding-left: 45px;
  position: relative;
}
.delivery__advantages-item::before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 4px;
}
.delivery__advantages-item:nth-child(1)::before {
  background-image: url('../img/umbrella.svg');
}
.delivery__advantages-item:nth-child(2)::before {
  background-image: url('../img/money-box.svg');
}
.delivery__advantages-item:nth-child(3)::before {
  background-image: url('../img/shield-security.svg');
}
.delivery__advantages-item b {
  font-family: GothamPro;
  font-size: 19px;
  font-weight: 500;
  color: #333333;
}
.delivery__advantages-item p {
  font-family: GothamPro;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: #808080;
  margin: 6px 0;
}
@media screen and (max-width: 900px) {
  .delivery__about-delivery {
    margin: 0;
    padding-top: 0;
    padding-bottom: 360px;
  }
  .delivery__about-delivery::after {
    bottom: -100px;
    left: 50%;
    transform: translateX(-55%);
    top: auto;
    width: 120%;
  }
  .delivery__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
  }
  .delivery__advantages {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .delivery__advantages-item {
    text-align: left;
    margin: 20px;
  }
}
@media screen and (max-width: 700px) {
  .delivery__about-delivery {
    padding-bottom: 54%;
  }
  .delivery__about-delivery::after {
    width: 100%;
    top: 45%;
  }
  .delivery__header {
    font-size: 34px;
  }
  .delivery__advantages {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 450px) {
  .delivery__about-delivery {
    padding-bottom: 200px;
  }
  .delivery__about-delivery::after {
    bottom: -54%;
    top: auto;
  }
}
.services {
  padding-bottom: 26px;
  background-color: #fff;
}
.services__header {
  margin-top: 76px;
  margin-bottom: 17px;
}
.services__text {
  font-family: GothamPro;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 49px;
}
.services__delivery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.services__item {
  background-color: #fcfcfc;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding-top: 14px;
  padding-left: 27px;
  padding-right: 20px;
  padding-bottom: 29px;
  width: calc(48.7% - 47px);
  margin-bottom: 21px;
  position: relative;
  list-style: none;
}
.services__item::before {
  content: '';
  display: block;
  width: 86px;
  height: 86px;
  background-repeat: no-repeat;
  background-size: contain;
}
.services__item:nth-of-type(1)::before {
  background-image: url('../img/train.svg');
}
.services__item:nth-of-type(2)::before {
  background-image: url('../img/airplane.svg');
}
.services__item:nth-of-type(3)::before {
  background-image: url('../img/maritime-transport.svg');
}
.services__item:nth-of-type(4)::before {
  background-image: url('../img/truck.svg');
}
.services__item-header {
  font-family: GothamPro;
  font-size: 22px;
  font-weight: 500;
  color: #333333;
  margin-top: 3px;
  margin-bottom: 17px;
}
.services__item-weight,
.services__item-time {
  font-family: GothamPro;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #666666;
  padding-left: 20px;
  position: relative;
}
.services__item-weight::before,
.services__item-time::before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 2px;
}
.services__item-weight {
  margin-right: 19px;
}
.services__item-weight::before {
  background-image: url('../img/dumbbell.svg');
}
.services__item-time::before {
  background-image: url('../img/time.svg');
}
.services__item-text {
  font-family: GothamPro;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #808080;
  margin-top: 17px;
  margin-bottom: 69px;
}
.services__button {
  position: absolute;
  left: 27px;
  bottom: 29px;
}
.services__subtext {
  font-family: GothamPro;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: center;
  color: #808080;
  margin-top: 7px;
}
.additional-services {
  text-align: center;
  padding-bottom: 80px;
  background-color: #fff;
}
.additional-services__plus {
  font-family: GothamPro;
  font-size: 100px;
  font-weight: 500;
  color: #7ea8d6;
}
.additional-services__header {
  margin-top: -10px;
}
.additional-services__text {
  font-family: GothamPro;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  color: #808080;
  text-transform: uppercase;
  margin-bottom: 49px;
}
.additional-services__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}
.additional-services__item {
  background-color: #fcfcfc;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding-top: 40px;
  padding-left: 28px;
  padding-right: 20px;
  padding-bottom: 25px;
  width: calc(48.7% - 47px);
  margin-bottom: 21px;
  position: relative;
  list-style: none;
}
.additional-services__item::before {
  content: '';
  display: block;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-size: contain;
}
.additional-services__item:nth-of-type(1)::before {
  background-image: url('../img/upload-package.svg');
}
.additional-services__item:nth-of-type(2)::before {
  background-image: url('../img/money-bag.svg');
}
.additional-services__item:nth-of-type(3)::before {
  background-image: url('../img/handshake.svg');
}
.additional-services__item:nth-of-type(4)::before {
  background-image: url('../img/receipt.svg');
}
.additional-services__item-header {
  font-family: GothamPro;
  font-size: 19px;
  font-weight: 500;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 17px;
}
.additional-services__item-text {
  font-family: GothamPro;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #808080;
}
.comment {
  background-color: #f1f0f5;
  padding-top: 41px;
  padding-bottom: 85px;
}
.comment__header {
  margin-bottom: 81px;
}
.comment__item {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.comment__item iframe {
  border: none;
  -ms-flex-positive: 1;
      flex-grow: 1;
  min-height: 230px;
}
.comment__descritpion {
  margin-left: 20px;
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
}
.comment__item-header {
  font-family: GothamPro;
  font-size: 22px;
  font-weight: 500;
  color: #333333;
  margin-top: 0;
}
.comment__text {
  font-family: GothamPro;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #808080;
}
.comment__link {
  font-family: GothamPro;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #7ea8d6;
}
.reviews__list {
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 50px;
  margin: 0;
  position: relative;
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 30%;
}
.owl-prev:hover,
.owl-next:hover {
  background: none;
}
.owl-prev span,
.owl-next span {
  display: block;
  width: 26px;
  height: 26px;
  font-size: 0;
  line-height: 0;
  border-top: 3px solid #7ea9d6;
  border-left: 3px solid #7ea9d6;
}
.owl-prev.disabled,
.owl-next.disabled {
  opacity: 0.3;
  cursor: default;
}
.owl-prev {
  left: 20px;
}
.owl-prev span {
  transform: rotate(-45deg);
}
.owl-next {
  right: 20px;
}
.owl-next span {
  transform: rotate(135deg);
}
.owl-item {
  width: auto;
}
.owl-dots {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 50px;
}
.reviews__list .owl-dots .owl-dot {
  display: block;
  width: 12px;
  height: 12px;
  min-width: 12px;
  min-height: 12px;
  border-radius: 50%;
  background: #d8e5f3;
  border: 2px solid #F2F6FA;
  outline: none;
  margin: 0 5px;
  transition: all 0.5s;
}
.reviews__list .owl-dots .owl-dot:hover,
.reviews__list .owl-dots .owl-dot:focus {
  background: #98b9de;
  transition: all 0.5s;
}
.reviews__list .owl-dots .owl-dot.active {
  background: #7ea8d6;
  border: 2px solid #7ea8d6;
  transition: all 0.5s;
}
.command {
  background-color: #fff;
}
.command__text {
  font-family: GothamPro;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  color: #808080;
  text-transform: uppercase;
}
.owl-carousel.command__list {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.command__item {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.command__column-left {
  width: 50%;
  padding-left: 200px;
  padding-right: 50px;
}
.command__column-left img {
  max-width: 100%;
  height: auto;
}
.command__column-right {
  padding-top: 110px;
  width: 50%;
}
.command__item-header {
  font-family: GothamPro;
  font-size: 22px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 0;
}
.command__item-text {
  font-family: GothamPro;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #808080;
  margin-top: 5px;
}
.command__item-link {
  font-family: GothamPro;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #7ea8d6;
}
.command__item-quote {
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.3px;
  color: #808080;
  margin: 0;
  margin-top: 50px;
  width: 260px;
}
.command__item-signature {
  max-width: 100%;
  height: auto;
  padding-left: 30%;
  padding-right: 50%;
  position: relative;
  top: -20px;
}
.command__list .owl-prev,
.command__list .owl-next {
  top: 50%;
}
.command__list .owl-dots {
  -ms-flex-order: -1;
      order: -1;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}
.command__list .owl-dot {
  opacity: 0.3;
}
.command__list .owl-dot.active {
  opacity: 1;
}
.command__list .owl-dot span {
  display: block;
  width: 36px;
  height: 36px;
  background-size: cover;
  margin: 5px;
}
.command__list .owl-dot:nth-child(1) span {
  background-image: url(../img/aleksey-min-min.png);
}
.command__list .owl-dot:nth-child(2) span {
  background-image: url(../img/vyacheslav-min-min.png);
}
.command__list .owl-dot:nth-child(3) span {
  background-image: url(../img/ivan-min-min.png);
}
.command__list .owl-dot:nth-child(4) span {
  background-image: url(../img/mihail-min-min.png);
}
.command__list .owl-dot:nth-child(5) span {
  background-image: url(../img/oleg-min-min.png);
}
.command__list .owl-dot:nth-child(6) span {
  background-image: url(../img/marina-min-min.png);
}
.command__list .owl-dot:nth-child(7) span {
  background-image: url(../img/maria-min-min.png);
}
.command__list .owl-dot:nth-child(8) span {
  background-image: url(../img/ilona-min-min.png);
}
.command__list .owl-dot:nth-child(9) span {
  background-image: url(../img/valeriy-min-min.png);
}
.command__list .owl-dot:nth-child(10) span {
  background-image: url(../img/aleksandr-min-min.png);
}
.command__list .owl-dot:nth-child(11) span {
  background-image: url(../img/andrey-min-min.png);
}
.command__list .owl-dot:nth-child(12) span {
  background-image: url(../img/aleksey-tolmachev-min-min.png);
}
.advantage {
  background-color: #f1f0f5;
  padding-top: 35px;
  padding-bottom: 100px;
  position: relative;
}
.advantage::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -25px;
  left: 50%;
  background-image: url('../img/arrow-down.svg');
  background-color: #ffcf3f;
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 4px 4.6px 0.5px rgba(32, 32, 32, 0.25);
}
.advantage__wrap {
  position: relative;
}
.advantage__wrap::before {
  content: '';
  display: block;
  width: 571px;
  height: 433px;
  background-image: url('../img/advantages-bg.png');
  background-repeat: no-repeat;
  position: absolute;
  left: -100px;
  top: 113px;
}
.advantage__list {
  margin: 0;
  margin-left: 528px;
  margin-top: 99px;
  padding: 0;
}
.advantage__list-item {
  list-style: none;
  width: 205px;
  padding-left: 85px;
  margin-bottom: 30px;
  position: relative;
}
.advantage__list-item::before {
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  background-position: center;
  border: 1px solid #7ea8d6;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
.advantage__list-item:nth-child(1)::before {
  background-image: url('../img/brewed-coffee.svg');
  background-position: center 12px;
}
.advantage__list-item:nth-child(2)::before {
  background-image: url('../img/checkmark-to-do-list.svg');
}
.advantage__list-item:nth-child(3)::before {
  background-image: url('../img/contact-card.svg');
}
.advantage__item-header {
  font-family: GothamPro;
  font-size: 20px;
  font-weight: 500;
  color: #333333;
}
.advantage__item-text {
  font-family: GothamPro;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #808080;
  margin-top: 8px;
}
.about {
  background-image: url('../img/parallax-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -ms-flexbox;
  display: flex;
}
.about table {
  font-family: GothamPro;
  color: #ffffff;
  border-collapse: separate;
  margin-bottom: 83px;
}
.about table td {
  font-size: 56px;
  font-weight: 500;
  padding-left: 7%;
  width: 20%;
}
.about table th {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
  padding-left: 7%;
}
.about__header {
  font-family: GothamPro;
  font-size: 52px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin-top: 81px;
  margin-bottom: 84px;
}
.delivery-stages {
  background-color: #fff;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 90px;
}
.delivery-stages__header {
  font-family: GothamPro;
  font-size: 52px;
  font-weight: 300;
  text-align: center;
  color: #475566;
  margin-bottom: 83px;
}
.delivery-stages__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  counter-reset: item;
  position: relative;
  margin: 0;
  margin-bottom: 77px;
  padding: 0;
  padding-top: 100px;
}
.delivery-stages__list::before {
  content: '';
  position: absolute;
  left: 70px;
  right: 70px;
  top: 72px;
  height: 1px;
  background: #d6d6d6;
}
.delivery-stages__list-item {
  display: block;
  position: relative;
  max-width: 140px;
  font-family: GothamPro;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.3px;
  color: #333333;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.delivery-stages__list-item::before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  line-height: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid #d6d6d6;
  background-color: #fff;
  border-radius: 50%;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.delivery-stages__list-item::after {
  content: '';
  display: block;
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  width: 36px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.delivery-stages__list-item:nth-child(1)::after {
  background-image: url('../img/factory-building.svg');
}
.delivery-stages__list-item:nth-child(2)::after {
  background-image: url('../img/hand-truck.svg');
}
.delivery-stages__list-item:nth-child(3)::after {
  background-image: url('../img/camera.svg');
}
.delivery-stages__list-item:nth-child(4)::after {
  background-image: url('../img/truck (2px).svg');
}
.delivery-stages__list-item:nth-child(5)::after {
  background-image: url('../img/travel-ticket.svg');
}
.delivery-stages__list-item:nth-child(6)::after {
  background-image: url('../img/freight-train.svg');
}
.delivery-stages__list-item:nth-child(7)::after {
  background-image: url('../img/location-flag.svg');
}
.contacts {
  background-color: #f1f0f5;
}
.contacts__wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 85px;
  border-bottom: 1px solid #d6d6d6;
}
.contacts__header {
  margin-top: 85px;
  width: 100%;
}
.contacts__tel,
.contacts__address {
  text-align: center;
  width: 100%;
  font-family: GothamPro;
  font-size: 18px;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.4px;
  color: #808080;
  text-decoration: none;
}
.contacts__tel:hover {
  text-decoration: underline;
}
.contacts__address {
  margin-top: 25px;
  margin-bottom: 45px;
}
.contacts__map {
  border: none;
}
.contacts__form {
  width: 400px;
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding-left: 2%;
}
.address-china {
  background-color: #f1f0f5;
}
.address-china__wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.address-china__header {
  width: 100%;
}
.address-china__column-left,
.address-china__column-right {
  width: 50%;
  box-sizing: border-box;
}
.address-china__column-left h3,
.address-china__column-right h3 {
  font-family: GothamPro;
  font-size: 22px;
  font-weight: 500;
  color: #333333;
}
.address-china__column-left p,
.address-china__column-right p {
  font-family: GothamPro;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #808080;
}
.address-china__column-left {
  padding-right: 2%;
}
.address-china__column-right {
  padding-left: 2%;
}
.page-footer {
  background-color: #374250;
  color: #fff;
  padding: 40px 0;
}
.page-footer__wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page-footer__copyright {
  font-family: GothamPro;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 0.3px;
  color: #d6d6d6;
  margin: 0;
}
.page-footer__copyright a {
  color: #d6d6d6;
  text-decoration: none;
  border-bottom: 1px solid rgba(214, 214, 214, 0.4);
}
.page-footer__nav {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.page-footer__list-nav {
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 100px;
}
.page-footer__list-nav li {
  list-style: none;
}
.page-footer__item-nav {
  font-family: GothamPro;
  font-size: 13px;
  line-height: 1.69;
  letter-spacing: 0.3px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.page-footer__social {
  width: 188px;
}
.page-footer__social-header {
  font-family: GothamPro;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
.page-footer__social-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-footer__social-list a {
  display: block;
  font-size: 0;
  width: 48px;
  height: 48px;
  border: 2px solid #f3f7fb;
  border-radius: 50%;
  position: relative;
}
.page-footer__social-list a::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-size: 25px;
  background-position: 11px;
  background-repeat: no-repeat;
}
.page-footer__social-list li:nth-child(1) a::before {
  background-image: url('../img/vk.svg');
}
.page-footer__social-list li:nth-child(2) a::before {
  background-image: url('../img/fb.svg');
}
.page-footer__social-list li:nth-child(3) a::before {
  background-image: url('../img/inst.svg');
  background-position: 12px;
}
@media screen and (max-width: 900px) and (min-width: 701px) {
  .page-footer__wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .page-footer__nav {
    -ms-flex-order: -1;
        order: -1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
  }
  .page-footer__list-nav {
    height: 50px;
  }
}
@media screen and (max-width: 700px) {
  .page-footer__wrap {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .page-footer__nav {
    margin-bottom: 59px;
  }
  .page-footer__list-nav {
    height: auto;
    text-align: center;
  }
  .page-footer__copyright {
    margin-top: 52px;
    -ms-flex-order: 3;
        order: 3;
  }
}
